<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>NoSmoke</title>
    <link rel="stylesheet" href="../static/css/style.css">
</head>
<body>
<div class="container" style="text-align: center;">
    <h1>Welcome to NoSmoke</h1>
    
    <p>
        Meet NoSmoke. It's not just another app—it's a revolutionary tool designed to empower teens and young adults on their journey to a smoke-free life. Unlike conventional approaches that rely solely on didactic methods, NoSmoke offers a personalized experience that reveals both the immediate and long-term benefits of quitting smoking.
        Through innovative features and tailored content, NoSmoke provides users with insights into the profound impact of their decision to quit smoking. Whether it's showcasing the immediate improvement in lung function or the long-term health benefits of a smoke-free lifestyle, this app delivers information in a way that resonates with its audience.
        But NoSmoke is more than just an informational resource—it's a supportive companion on the path to quitting. With interactive tools, progress trackers, and community support features, users are guided every step of the way towards their smoke-free goals. From setting personalized milestones to celebrating achievements, NoSmoke fosters a sense of empowerment and accountability.
        By harnessing the power of technology and personalized engagement, NoSmoke is poised to revolutionize how teens and young adults approach smoking cessation. It's not just about quitting—it's about embracing a healthier, smoke-free future, and NoSmoke is leading the way.
    </p>

    <h3>Explore different aspects of NoSmoke:</h3>
    <a href="/savings">Savings</a> <br>
    <a href="/education">Education</a> <br>
    <a href="/challenges">Challenges and Badges</a> <br>
    <a href="/user-stories">User Stories</a> <br>

    <!-- <ul>
        <ul><a href="/savings">Savings</a></li>
        <li><a href="/education">Education</a></li>
        <li><a href="/challenges">Challenges and Badges</a></li>
        <li><a href="/user-stories">User Stories</a></li>
    </ul> -->
</div>
</body>
</html>
